{:paths ["src"]
 :deps {io.github.kotoba-lang/bytes {:git/url "https://github.com/kotoba-lang/bytes.git"
                                     :git/sha "96ac992c7b0da54af41e8d40eaf23a4541a23d09"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}