{:paths ["src"]
 :deps {
        ;; kotoba.test (clojure.test-compatible surface), not clojure.test --
        ;; scripts/migrate-clojure-test-to-kotoba-test.cljk. Explicit floor.
        io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git"
                                    :git/sha "2ab4885f99fd25552d380d0f6b0b54c5a72eb7ae"}io.github.kotoba-lang/bytes {:git/url "https://github.com/kotoba-lang/bytes.git"
                                     :git/sha "96ac992c7b0da54af41e8d40eaf23a4541a23d09"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}